# FastAPI Backend Configuration
# Change to your FastAPI backend IP/hostname
# 
# Local testing with emulator/simulator: localhost:8000
# Local testing on network device: <your-machine-ip>:8000
# Production: your-server-domain.com
REACT_APP_API_BASE_URL=192.168.8.119:8000
